//META{"name":"Dark and Blue","description":"Kompletně nový vzhled Discordu!","author":"Yusari","version":"2.0.1"}*//

@import url("https://dinikcz.github.io/Discss/Discss.css");
body::after,
.callout-backdrop,
.root-2sNHUF::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label {
    background-image: url(https://images7.alphacoders.com/434/434993.jpg) !important; /* Sem vlož odkaz na pozadí */
}
/* Možnost změnit barvu tématu (Lze použít HTML Colors, RGB) PODPORA GRADIENTŮ */
:root {
	--main-color: #00B3FF;
	--hover-color: #0078C4;